* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =========================common==================== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  margin: 0 auto;
  background: #2e80ce;
  border-radius: 999px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}
.btn:hover {
  background: #2565b0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.control__btn {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 2px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
.control-icon--next {
  transform: rotate(180deg);
}
/* =========================header==================== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 #fff;
}
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}
.header__action--signu {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
/* =========================hero==================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
.hero__row {
  margin-top: 38px;
  align-items: center;
  display: flex;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}
.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

.hero__img-lange {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img-small {
  width: 210px;
  height: 410px;
}
/* =========================service====================  */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__heading,
.section-desc {
  text-align: center;
  width: 468px;
  margin: 18px auto 0;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  display: flex;
  width: 470px;
  padding: 21px;
  align-items: flex-start;
  transition: 0.25s;
}
.service-item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  margin-right: 19px;
  transition: 0.25s;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.service__btn {
  margin-top: 55px;
}

/* =========================work====================  */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__desc {
  width: 468px;
  margin: 0;
  margin-top: 18px;
  text-align: left;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  padding: 43px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  background: #fff;
}
.work-item:hover {
  border-color: #2e80ce;
  transition: 0.25s;
  transform: translateY(-16px);
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38;
}
.work-item__desc {
  margin-top: 20px;
  color: #575f66;
  font-size: 1.6;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.work-item__more {
  margin-top: 18px;
  display: block;
  color: #2e80ce;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
.work-item__more:hover {
  text-decoration: underline;
}

/* =========================about====================  */
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
}
.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}
.about__img {
  position: relative;
}
.about__img--big {
  display: flex;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
  object-fit: cover;
}
.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.section-desc {
  margin-top: 18px;
  text-align: left;
}
.about-content__btn {
  margin-top: 38px;
}
/* =========================team====================  */
.team {
  padding: 85px 0;
}
.team-header {
  text-align: center;
  margin: 0 auto;
}
.team__cta {
  margin-top: 38px;
}
.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.team-item__thum {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}
.team-item__img-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.team-item:hover .team-item__thum {
  transform: scale(1.1);
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
.team-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 1.86;
}
.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* =========================install Mobile====================  */
.install {
  padding: 85px 0;
}
.install__inner {
  margin: 35px 0 0;
  position: relative;
  height: 427px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  border-radius: 4px;
  background: #2e80ce;
}
.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}
.install__content {
  width: 586px;
  color: #fff;
  z-index: 1;
}
.install__heading {
  min-width: 489px;
  color: #fff;
}
.install__desc {
  margin-top: 18px;
  min-width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
.install__row {
  display: flex;
  margin-top: 38px;
  column-gap: 18px;
  align-items: center;
}
/* =========================install Mobile====================  */
.blog {
  padding: 85px 0;
}
.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__content {
  width: 40%;
}
.blog__heading {
  min-width: 470px;
}
.blog__more {
  margin-top: 28px;
  display: inline-block;
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.blog__more:hover {
  color: #2e80ce;
}
.blog__control {
  margin-top: 28px;
  justify-content: flex-start;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.blog-item {
  min-width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
}
.blog-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  transition: 0.25s;
}
.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
  transition: 0.5s;
}
.blog-item__thumb {
  width: 270px;
  height: 172px;
  object-fit: cover;
  width: 100%;
  transition: 0.25s;
}
.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}
.blog-item__body {
  padding: 18px 22px;
}
.blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.62;
}
.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.72;
}
.blog-item__more {
  margin-top: 12px;
  display: inline-block;
  color: #10375c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.blog-item__more:hover {
  color: #2e80ce;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: 0.25s;
}
/* =========================appointment====================  */
.appointment {
  padding: 85px 0;
}
.appointment__inner {
  padding: 100px 178px;
  align-items: center;
  background: #f6fbff;
}
.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}
.appointment__desc {
  margin: 18px auto 0;
  min-width: 617px;
  text-align: center;
}
.appointment__btn {
  margin-top: 38px;
  display: block;
  align-items: center;
  max-width: 200px;
}
/* =========================footer====================  */
.footer {
  padding: 100px 0 35px;
  background: #10375c;
}
.footer__top {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}
.footer__desc {
  margin-top: 18px;
  color: #a9b3bb;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}
.footer__list {
  margin: 20px 0 28px;
}
.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
  white-space: nowrap;
}
.footer__link:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__social {
  display: flex;
  column-gap: 16px;
  margin: 20px 0 28px;
}
.footer__social:hover {
  color: #2e80ce;
  transition: 0.25s;
}
.footer-form {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
}
.footer-form__input {
  display: flex;
  width: 212px;
  height: 46px;
  padding: 14px 3px 13px 3px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}
.footer-form__input::placeholder {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
}
.footer__submit-btn {
  display: block;
  width: 60px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.86;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
}
.footer__submit-btn:hover {
  background: #2565b0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.footer__copyright {
  border-top: 1px solid #aab3ba;
}
.footer__copyright-text {
  margin: 28px 0 20px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
}
