* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =========================common==================== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  margin: 0 auto;
  background: #2e80ce;
  border-radius: 999px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}
.btn:hover {
  background: #2565b0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
/* =========================header==================== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 #fff;
}
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}
.header__action--signu {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
/* =========================hero==================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
.hero__row {
  margin-top: 38px;
  align-items: center;
  display: flex;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}
.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

.hero__img-lange {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img-small {
  width: 210px;
  height: 410px;
}
/* =========================service====================  */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__heading,
.section-desc {
  text-align: center;
  width: 468px;
  margin: 0 auto;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  display: flex;
  width: 470px;
  padding: 21px;
  align-items: flex-start;
  transition: 0.25s;
}
.service-item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  margin-right: 19px;
  transition: 0.25s;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.service__btn {
  margin-top: 55px;
}
